<!DOCTYPE html>
<html lang="ko">
  <head>
     <!-- Head -->
    <% include head %>

    <meta charset="utf-8">
    <title>고객중심 보험 서비스 - 하나금융파인드</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="보험, 금융, 라이프 관련 다양한 정보를 공유하고 공감하는 하나금융파인드입니다.">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="고객중심 보험 서비스 - 하나금융파인드">
    <meta property="og:description" content="보험, 금융, 라이프 관련 다양한 정보를 공유하고 공감하는 하나금융파인드입니다.">
    <meta property="og:image" content="<%= req.protocol %>://<%= req.headers.host %>/assets/logo_sns.png">
    <meta property="og:url" content="<%= req.protocol %>://<%= req.headers.host %><%= req.originalUrl %>">
  </head>

  <!-- Body -->
  <body>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      <!-- Header -->
     <%- include('header', {isPosition: true}) %>
      
      <!--jumbotron-->
      <section class="jumbotron-wrap">
        <div class="swiper post-swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <% for(var i=0; i<data_recommand.length; i++) { %>
              <div class="swiper-slide">
                  <div class="jumbotron" style="background-image: url('<%= data_recommand[i].cover_image_urls.w1440 ? data_recommand[i].cover_image_urls.w1440 : data_recommand[i].cover_video_url  %>');">
                    <% if (data_recommand[i].cover_type === 'video') { %>
                  <video class="w-100 h-100" poster="<%- data_recommand[i].cover_image_url %>" autoplay muted loop playsinline style="object-fit: cover;">
                    <source src="<%- data_recommand[i].cover_video_url %>" type="video/mp4">
                  </video>
                  <% } %>
                    <div class="row">
                      <div class="col">
                          <h5 class="feature-heading">추천 포스트</h5>
                          <h1 class="entry-title">
                              <a href="/blog/article/<%- data_recommand[i].url_slug %>"><%- data_recommand[i].title %></a>
                          </h1>
                          <p class="entry-meta">
                              <span class="entry-author">
                                  <a title="Posts by Feature Shoot" rel="author">하나금융파인드</a>
                              </span>• <%- data_recommand[i].dt_interval %>
                          </p>
                          <p class="entry-excerpt">
                            <%- data_recommand[i].contents %>
                          </p>
                      </div>
                    </div>
                    <div class="jumbotron-overlay"></div>
                  </div>
                </div>
            <% } %>
            
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
      <!-- 보험상품(다이렉트) -->
      <%- include('./pages/product/direct/home') %>
      <!--jumbotron-->
      <section class="container posts-wrap pt-5 pb-3">
        <div class="row">
        <% for(var i=0; i<data.length; i++) { %>
            <% include card %>
        <% } %>
        </div>

        <!-- Page -->
        <% include paging %>
        
      </section>
    </main>

    <!-- Footer -->
    <% include footer %>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2"></span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>
    
    <!-- Vendor Scripts -->
    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/assets/js/src/components/sticky-navbar.js"></script>
    <script src="/assets/js/src/components/scroll-top-button.js"></script>
    <script src="/assets/js/src/theme.js"></script>
    <!-- Main Theme Script -->
    <script>
      const swiper = new Swiper('.post-swiper', {
        speed: 400,
        loop : true,
        pagination: {
          el: ".swiper-pagination",
          type : 'bullets',
          clickable: true
        },
        autoplay: {
          delay: 7000,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      });
    </script>
  </body>
</html>