<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a href="<%- data_pageInfo[0].url %>?page=1" class="page-link">
        <i class="bx bx-chevron-left mx-n1"></i>
      </a>
    </li>
    <% for(var i=1; i<=data_pageInfo[0].pagecnt; i++) { %>
      <% if (i == data_pageInfo[0].currentPage) { %>
        <li class="page-item active" aria-current="page">
        <span class="visually-hidden">(current)</span>
      <% } else { %>
        <li class="page-item"></li>
      <% } %>
        <a href="<%- data_pageInfo[0].url %>?page=<%- i %>" class="page-link"><%- i %></a>
      </li>
    <% } %>
    <li class="page-item">
      <a href="<%- data_pageInfo[0].url %>?page=<%- data_pageInfo[0].pagecnt %>" class="page-link">
        <i class="bx bx-chevron-right mx-n1"></i>
      </a>
    </li>
  </ul>
</nav>